.btn-primary {
    -fx-background-color: #5f2b5c;
    -fx-text-fill: white;
}

.btn-secondary {
    -fx-background-color: #f4f4f4;
    -fx-text-fill: black;
}

.fav-container {
    -fx-background-color: #d3a9d1;
    -fx-text-fill: white;
    -fx-background-radius: 5;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.1), 10, 0, 0, 2);
}
